{% include "headernav.html" %}

<h1><b> INTERNSHIPS </B></H1>

<div class="whole">
 <div class="first">
    <div class="w">
    <div>
        <h4>Web Development Internship Program</h4>
        <p><ul>
            <li>Duration: 1 month</li>
            <li>Location: Virtual</li>
            <li>Stipend:-</li>
            <li>Start date: 25/10/2023</li>
        </ul></p>
        <button class="b"> View Details</button>
       
    </div>
 </div>

  <div class="a">
    <div class="app">
        <h4>App Development Internship Program</h4>
        <p><ul>
            <li>Duration: 1 month</li>
            <li>Location: Virtual</li>
            <li>Stipend:-</li>
            <li>Start date: 25/10/2023</li>
        </ul></p>
        <button class="b"> View Details</button>
    </div>
  </div>
 </div>
 <br>
 <div class="second">
  <div class="p">
    <div class="pyth">
        <h4>Python Development Internship Program</h4>
        <p><ul>
            <li>Duration: 1 month</li>
            <li>Location: Virtual</li>
            <li>Stipend:-</li>
            <li>Start date: 25/10/2023</li>
        </ul></p>
        <button class="b"> View Details</button>
    </div>
  </div>

  <div class="j">
    <div class="ja">
        <h4>Java Programming Internship Program</h4>
        <p><ul>
            <li>Duration: 1 month</li>
            <li>Location: Virtual</li>
            <li>Stipend:-</li>
            <li>Start date: 25/10/2023</li>
        </ul></p>
        <button class="b"> View Details</button>
    </div>
  </div>
 </div>
 <br>
 <div class="third">
  <div class="c">
    <div class="design">
        <h4>Conva Designing Internship Program</h4>
        <p><ul>
            <li>Duration: 1 month</li>
            <li>Location: Virtual</li>
            <li>Stipend:-</li>
            <li>Start date: 25/10/2023</li>
        </ul></p>
        <button class="b"> View Details</button>
    </div>
  </div>
 </div>
 
</div>
<br>
<br>
<br>
<div class="approve">
    <img src="/static/MSME.png" >
    <img src="/static/national_carrer_service.jpeg">
    
</div>
<br><br><br><br>
<footer id = "foot" style= "background-color:#6879A1; color : white;">
    <center >Subscribe to our emails
        <br><input type="text" placeholder="Enter your query here">
    </center>
</footer>